doctype html
html(lang="en")
  head
    block title
        title Default title
    block head_style
  body
    block nav
        nav
            a(href="/login") Login
    block content
    block footer_js
        script(src="static/jquery.min.js")
